.idea/
*.iml

**/target/
**/bin/
**/obj/

appsettings.json
**/appsettings.json
**/appsettings.*.json
*.csproj.user

db.properties
bokun.properties
**/db.properties
**/bokun.properties

!**/db.properties.example
!**/bokun.properties.example

*.user
.vs/
